/*************variables***********/

$bg-presentation : rgb(230, 227, 227);
$bg-teams : rgb(0, 0, 0);


/* Basic styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root{
    --bg-color: #fff;
}
body {
    max-width: 100%;
}

